body {
    background-color: black;
}
#container li {
    display: block;
    float: left;
    list-style-type: none;
    text-align: center;
    line-height: 60px;
    height: 60px;
    width: 80px;
    background-color:white;
    margin-left: 20px;
    border-radius: 15px;
    font-weight: 500;
    font-size: 25px;
}
#container li:hover {
    font-size: 15px;
    animation: 3s ab forwards;
}
@keyframes ab {
    0% {
        background-color: white;
        color: black;
        font-size: 25px;
        font-weight: 500;
    }
    100% {
            background-color: #9400D3;color:white;font-size:15px;font-weight:800;}
}